<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{apellidoUser}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> {{rol}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree" >
        <li class="header">HEADER</li>
      </ul>
      <!--<ul class="sidebar-menu" data-widget="tree" *ngFor="let m of menus">
        <li routerLinkActive="active"><a routerLink="{{m.url}}"><i class="{{m.icono}}"></i> <span>{{m.nombre}}</span></a></li>
      </ul> -->

      <ul class="sidebar-menu" data-widget="tree" >
        <li routerLinkActive="active"><a routerLink="/home"> <span>Home</span></a></li>
        <li routerLinkActive="active"><a routerLink="/comidas"> <span>Comidas</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
